.chartWrapper {
  margin-top: -4.4rem;
  margin-bottom: -4.4rem;
  width: 90%;
  height: auto;
  max-height: 300px;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
