.keySkills {
    margin-top: 0.2rem;
}

.keySkill {
    margin-bottom: 0.2rem;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    font-weight: 200;
    font-size: 0.8rem;
    &:last-child {
        margin-bottom: 0;
    }
    height: 15px;
    display: flex;
    flex-direction: row;
}

.logo {
    object-fit: contain;
    width: auto;
    height: 100%;
    aspect-ratio: 1;
    z-index: 20;
}

.logoBackground {
    background-color: white;
    z-index: 10;
    margin-right: 6px;
}

.name {
    margin-left: 0.3rem;
}

.keySkillContainer {
    height: 11px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    display: flex;
    align-items: center;
    gap: 4px;
}
