.keySkills {
    margin-top: 0.4rem;
}

.keySkill {
    margin-bottom: 0.2rem;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    font-weight: 200;
    font-size: 0.8rem;
    &:last-child {
        margin-bottom: 0;
    }
    height: 15px;
}

.logo {
    object-fit: contain;
    width: auto;
    height: 100%;
    aspect-ratio: 1;
}

.name {
    margin-left: 0.3rem;
}

.keySkillContainer {
    height: 11px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    display: flex;
    align-items: center;
    gap: 4px;
}
