.keySkills {
    margin-top: 0.4rem;
}

.keySkill {
    margin-bottom: 0.2rem;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    font-weight: 200;
    font-size: 0.8rem;
    &:last-child {
        margin-bottom: 0;
    }
}

// .logo {
//     object-fit: contain;
// }

.name {
    margin-left: 0.3rem;
}