.block {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.4cm;
    text-align: justify;
    width: 100%;
}

.heading {
    margin-bottom: 0.4rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid black;
}

.smallHeadingMargin {
    margin-bottom: 0.2rem !important;
}

.content {
    font-size: 1rem;
}
