.tech {
    font-size: 0.75rem;
    font-family:
        source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.techContent {
    max-width: 100%;
    word-wrap: normal;
    // direction: rtl;
    text-align: justify;
    // text-align-last: right;
    // -moz-text-align-last: right;
    line-height: 1.15;
    //   color: darkgray;
}

.techSynonym {
    font-size: 0.1px;
    color: white;
}
