.tech {
  font-size: 0.75rem;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.techContent {
  max-width: 100%;
  word-wrap: normal;
  text-align: justify;
  line-height: 1.15;
  //   color: darkgray;
}
