.type {
    font-size: 0.9rem;
}

.educationItem {
    margin-bottom: 1rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.thesis {
    font-size: 0.8rem;
}

.thesisTitle {
    font-style: italic;
    font-weight: 200;
}

// .line {
//     border-top: 1px solid black;
// }
